* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif, 'montseratt';
}
.App {
  background-image: url('./Assets/cold-bg.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.warm {
  background-image: url('./Assets/warm-bg.jpg');
}
main {
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
}
.search-container {
  width: 100%; 
  margin:  0 0 75px;
}
.search-container .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: #ffffff;
  border-radius: 0 0 16px 16px;
  margin-top: -25px;
  font-size: 20px;
  transition: 0.4s ease;
}
.search-container .search-bar:focus {
  background-color: rgba(255,255,255,.75);
}
.location-container .location {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70, .5);
}
.location-container .date {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,.5);
}
.weather-container {
  text-align: center;
}
.weather-container .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(225,225,255,.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #ffffff;
  font-size: 102px;
  text-shadow: 3px 6px rgba(50,50,70,.5);
}